.register {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;


}
.register h1 {
        margin: 70px 0 10px 0;
        font-size: 30px;
        color: #086439;
}

.register form {
    align-items: center;
}

.register p {
    color: rgb(104, 104, 104);

}

.register button {
    margin: 15px;
    font-family: "Montserrat", sans-serif;
    background-color: #086439;
    
}
