.newPost {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.newPost h1{
    margin: 70px 0 10px 0;
    font-size: 30px;
    color: #086439;
}

.newPost form {
    align-items: center;
}

.newPost p {
    color: rgb(104, 104, 104);

}

.newPost button {
    margin: 15px;
    font-family: "Montserrat", sans-serif;
    background-color: #086439;
    
}

